<html>
  <head>
    <title>joystick</title>
    <link rel="stylesheet" href="/static/app.css">
  </head>
<body>

<div class='joystik__container'>
    <h3 id="joystick__header">Joystick</h3>

    <button id='forward' class="joystik__button" draggable="false" >Forward</button>
    <button id='left' class="joystik__button"  draggable="false" >Left</button>
    <button id='right' class="joystik__button"  draggable="false" >Right</button>
    <button id='backward' class="joystik__button"  draggable="false" >Backward</button>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script async src="/static/app.js"></script>

</body>
</html>